# Package build & deployment
pip
wheel
twine

# Testing
tox
coverage

# Document
sphinx
sphinx_rtd_theme

# Formatting & linting
black
flake8
isort
pre-commit

# Flask
Flask
Flask-JWT-Extended
marshmallow
marshmallow-sqlalchemy
flask-sqlalchemy
flask-marshmallow
Flask-Migrate
flask-smorest
